POPULATION_SIZE = 200
GENERATIONS_COUNT = 300
MINIMUM_MUTATION_FACTOR = 0,01
MUTATION_FACTOR = 0,1
MUTATION_STEP_SIZE = 0,01
MUTATION_STEP = 1
MAXIMUM_MUTATION_FACTOR = 0,3
CROSSOVER_FACTOR = 0,8
DIFFERENCE_LEVEL = 90
ELITES_COUNT = 5
FITNESS_SATISFYABLE = 5
FITNESS_CORRECTNESS_VALUE = 1
FITNESS_COST_VALUE = 1
CROSSOVER_TYPE = Custom
SELECTION_TYPE = Custom